<!DOCTYPE HTML>
<html>
<head>
  <title>Google Maps</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script>
    function initMap() {
      var json;
      var area;
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "/", true);
      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
          json = xmlhttp.responseText;
          area = JSON.parse(json);

          var cenlat;
          var cenlng;
          var totlat = 0;
          var  totlng = 0;
          for(var i = 0; i < area.locations.location.length; i++){
            totlat = totlat + area.locations.location[i].latitude;
            totlng = totlng + area.locations.location[i].longitude;
            cenlat = totlat/area.locations.location.length;
            cenlng = totlng/area.locations.location.length;
          }

          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: cenlat, lng: cenlng},
            zoom: 9
          });

          for(var i = 0; i < area.locations.location.length; i++) {
            var cityCircle = new google.maps.Circle({
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35,
              map: map,
              center: {lat: area.locations.location[i].latitude, lng: area.locations.location[i].longitude},
              radius: Math.sqrt(area.locations.location[i].$revenue) * 2
            });


            if(area.locations.location[i].type == 'RetailLocation')
              var mark1 = new google.maps.Marker({
                position: {lat: area.locations.location[i].latitude, lng: area.locations.location[i].longitude},
                map: map,
                icon:'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                title: area.locations.location[i].address
              });
            else if(area.locations.location[i].type == 'Distribution Facility')
              var mark2 = new google.maps.Marker({
                position: {lat: area.locations.location[i].latitude, lng: area.locations.location[i].longitude},
                map: map,
                icon:'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                title: area.locations.location[i].address
              });
            else if(area.locations.location[i].type == 'HeadQuarters')
                var mark3 = new google.maps.Marker({
                position: {lat: area.locations.location[i].latitude, lng: area.locations.location[i].longitude},
                map: map,
                icon:'http://www.googlemapsmarkers.com/v1/./FFFFFF/',
                title: area.locations.location[i].address
              });
            else if(area.locations.location[i].type == 'Call Center')
              var mark4 = new google.maps.Marker({
                position: {lat: area.locations.location[i].latitude, lng: area.locations.location[i].longitude},
                map: map,
                icon:'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                title: area.locations.location[i].address
              });
          }
        }
      };
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.send();
    }
  </script>
</head>
<body onload="initMap()">
<div>
  <div id="map" style="height: 700px;width: 1500px" ></div>
</div>

</body>
</html>